.top{
    position: fixed;
    right:0;
    background-color: aliceblue;
    width:30vw;
    height:8vh;
    border-bottom-left-radius:5px;
    z-index: 100;
}
.cursor-pointer{
    cursor: pointer;
}
.margin-left-right{
    position: relative;
    font-size: 2rem;
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 10vw;
}
.people-count {
    position: absolute;
    top: -5px; /* Adjust vertical position */
    left:3.5vh; /* Adjust horizontal position */
    color: red; /* Text color of the count badge */
    font-weight: bolder;
    border-radius: 100%; /* Make it round */
    padding: 0px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    min-width: 9px; /* Set minimum width to avoid overlap */
    text-align: center;
    z-index: 200;
}
.top .chat-section{
    display: none;
    position:relative;
    top:0;
    background-color:#eaeaea;
    height:87vh;/*0 to 87vh*/
    transition: height 3s ease;
    z-index: 200;
}
.chat-section .input-chat{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:2px;
    right:0;
}
.input-chat #message{
    box-sizing: border-box;
    width:30vw;
    height:5vh;
    padding-right:4vw;
    margin: 0;
}
.show-chat{
    overflow-x:hidden;
    overflow-wrap: break-word;
    overflow-y:scroll;
    height:80vh;
    background-color: aqua;
}
#send{
    position: absolute;
    color: blue;
    border:0;
    right:0vw;
    bottom:.75vh;
    padding-right: 0;
    background: transparent;
}
.chat-message{
    margin-left:.5rem;
    margin-right:.5rem;
    margin-top: 0;
    padding:1rem;
    background-color: white;
    border-radius: 5px;
}
.chat-alert{
    margin-left:.5rem;
    margin-right:.5rem;
    margin-top: 0;
    color: grey;
}
.main{
    z-index: -1;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    background-color: black;
}
#video{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
}
.bottom{
    position: fixed;
    bottom :0;
    width:100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: aliceblue;
}
.meeting-details-opened{
    position: absolute;
    bottom:8vh;
    padding:1vh;
    width:0vw;/*0 to 20vw*/
    left:0;
    display:none;/*none to flex*/
    align-items: center;
    justify-content: center;
    background:#eaeaea;
    border-top-right-radius: 5px;
    transition: height 3s ease;
}
.upload-prompt{
    position: absolute;
    bottom:46vh;
    width: auto;
    height: 20vh;
    background-color: rgb(43, 4, 4);
    color: white;
    display: none;/*none to flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:5px;
}
#copy-alert{
    position: absolute;
    left:0;
    bottom:4vh;
    display: none;
    color:grey;
}
.bg-color-white{
    background-color:white;
    border-radius: 5px;
}
.meeting-details{
    position: absolute;
    display: flex;
    align-items: center;
    align-items: center;
    width:10vw;
    left:0;
    padding-left:1vw;
}
.meeting-controls{
    display: flex;
    justify-content: center;
    left:42vw;
    align-items: center;
}
.control-btn{
    margin:10px;
    border-radius: 45%;
    border-width: 0;
    font-size:1.75rem;
}
.streaming-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#play{
    background-color: grey;
}
#rewind{
    background-color: grey;
}
#forward{
    background-color: grey;
}
#live{
    color:red;
}
#upload{
    margin-right:0;
    padding-left: 2px;
}
.present-now{
    position: absolute;
    top:0;
    right: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Rotate video to landscape mode when in fullscreen */
@media (orientation: portrait) {
    video:-webkit-full-screen {
      transform: rotate(90deg);
      transform-origin: center center;
      width: 100vh;
      height: 100vw;
      object-fit: cover;
    }
    video:-moz-full-screen {
      transform: rotate(90deg);
      transform-origin: center center;
      width: 100vh;
      height: 100vw;
      object-fit: cover;
    }
    video:-ms-fullscreen {
      transform: rotate(90deg);
      transform-origin: center center;
      width: 100vh;
      height: 100vw;
      object-fit: cover;
    }
    video:fullscreen {
      transform: rotate(90deg);
      transform-origin: center center;
      width: 100vh;
      height: 100vw;
      object-fit: cover;
    }
  }
