body {
    font-family: Arial, sans-serif;
    background-image: url(/Public/Assets/images/netflix.webp);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-file-upload {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload input[type="file"] {
    display: none;
}

button {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
